@import '~antd/dist/antd.css';
.leaflet-container {
  height: 70vh;
  width: 90vw
}

.Navbar {
  background-color:#ffffff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom: 1px dashed black;
  margin-bottom: 7px;
  color: teal;
  box-shadow: 5px 2px #2e186a;
  font-weight: bolder;
  align-items: center;
}

.logo {
  padding: 10px;
}

/* add media queries */